<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/storage/css/main.css" type="text/css">
    <link rel="icon" href="/storage/img/logo-200x200.png" type="image/x-icon">
    <title>Twecopy &mdash; Meep away!</title>
</head>
<body>
    
    <!-- Header -->
    <%- include('components/Header.ejs')  %>

    <main>
        <div class="meep-creator">
            <h2>Create new Meep</h2>
            <p>Share your meep with the world!</p>

            <form id="newMeep" onclick="return false">
                <textarea name="content" id="content" maxlength="140"></textarea>
                <input class="btn-main" type="color" name="color" id="color">
                <input type="submit" class="btn-main" id="postBtn" style="float: right" class="btn-main" value="Post">
            </form>

        </div>
        <div class="meep-view">
            <h2>Latest Meeps</h2>
            <% for(const meep of meeps.reverse()) { %>
                <%- include('components/MeepCard.ejs', { meep }) %>
            <% } %>
        </div>
    </main>


    <script src="/storage/scripts/moment.min.js"></script>
    <script src="/storage/scripts/date-updater.js"></script>
    <script src="/storage/scripts/upload.js"></script>
</body>
</html>